Library/
Temp/
Logs/
Assets/Packages/Real Stars Skybox/StarSkybox04NamedConstell/CubemapStarsNamedConstellations.cubemap
Assets/Packages/Real Stars Skybox/StarSkybox04Named/CubemapStarsNamed.cubemap
Assets/Packages/Real Stars Skybox/StarSkybox04/CubemapStars.cubemap
